@model IEnumerable<KnapsackProblem.Models.Item>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table>
        <tr>
            <td>Вес</td>
            <td>Стоимость</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Weight</td>
                <td>@item.Value</td>
                <td><a href="~/Home/Buy/@item.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>