@model List<DataManagers.Item>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Новая задача</title>
</head>

<body class="container">
    <h4 style="color:dimgray;">Для оформления задачи заполните следующие поля:</h4><br>
    <a href="~/Knapsack/Tasks">Все задачи</a><br />

    <form method="post">
        <h6>Название:</h6>
        <input required type="text" name="Name" class="validate" />
        <h6>Вместимость рюкзака:</h6>
        <input required type="number" name="MaxValue" class="validate" min="1" value="5" />

        <table class="highlight">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <h6>@(i + 1)</h6>
                    </td>
                    <td>
                        <h6>Вес:</h6>
                        <input required type="number" name="[@i].Weight" class="validate" size="3" min="0" value="@(i+1)" />
                    </td>
                    <td>
                        <h6>Стоимость:</h6>
                        <input required type="number" name="[@i].Value" class="validate" size="3" min="0" value="@(i+1)" />
                    </td>
                </tr>

            }
            <tr>
                <td>
                    <a href="~/Knapsack/New?i=@(Model.Count()+1)">Добавить</a><br />
                </td>
                <td>
                    @if(Model.Count() > 1)
                    {
                        <a href="~/Knapsack/New?i=@(Model.Count()-1)">Убрать</a><br />
                    }
                </td>
            </tr>
        </table>
        <br>
        <input class="waves-effect grey lighten-1 btn-small" type="submit" value="Отправить" />
        <input class="waves-effect grey lighten-1 btn-small" type="reset">
    </form>
</body>
</html>
