@model IEnumerable<DataManagers.KnapsackTask>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Задачи</title>
</head>
<body>
    <h4 style="color:dimgray;">Задачи:</h4><br>
    <a href="~/Knapsack/New?i=5">Новая задача</a><br>
    <table>
        <tr>
            <td>Название</td>
            <td>Максимальная стоимость</td>
            <td>% выполнения</td>
            <td>Статус</td>
            <td>Время, сек</td>
        </tr>
        @foreach (var task in Model)
        {
    <tr>
        <td>@task.Name</td>
        <td>@task.MaxValue</td>
        <td>@task.Percent</td>
        @if (task.Status == true)
        {
            <td>Выполнено</td>
        }
        else if (task.Status == false)
        {
            <td>В процессе</td>
        }
        else
        {
            <td>Остановлено</td>
        }
        <td>@task.Time</td>
        <td><a href="~/Knapsack/Task/@task.Id">Подробнее</a></td>
        @if (task.Status == false)
        {
            <td><a href="~/Knapsack/Stop/@task.Id">Остановить</a></td>
        }
        else if (task.Status == null)
        {
            <td><a href="~/Knapsack/Continue/@task.Id">Продолжить</a></td>
        }
    </tr>
        }
    </table>


</body>
</html>